<article class="example" id="uk">
<section class="search">
  <div class="container">
    <div class="search__wrapper">
  <form class="search-form" id="search-form">
    <input type="text" name="searchQuery" autocomplete="off" placeholder="Search images..." />
    <button type="submit">Search</button>
  </form>
  </div>
</div>
  </section>
  <section>
  <div class="container">
  <div class="gallery">
    <!-- Картки зображень -->
</div>
  <button type="button" class="load-more" data-action="load-more">
    <span class="label">Load more</span>
  </button>
  
  </div>
  </section>
</article>
